<div class="sub-header">
  <form {{action 'doSomething' on="submit"}}>
  {{ input placeholder="subreddit" type="text" value=subreddit }}
  <button type="submit" value="Submit">Submit</button>
</form>
</div>
